<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="static/style.css" />
    <title>PythonLab</title>
  </head>
  <body>

    <header class="header">
      <a href="/">PythonLab</a>
      <nav>
        <ul class="menu">
          <li><a href="/">Sobre</a></li>
          <li><a href="/">Recursos</a></li>
          <li><a href="https://idp.instructure.com/" target="_blank">IDP</a></li>
        </ul>
      </nav>
    </header>

        <h1> Olá, {{ name }} !! </h1>

  </body>
</html>
