{% extends "layout.html" %}

{% block conteudo %}

    <h1> PythonLab - IDP </h1>
    <section class="grid3">
      <div class="grid3-item">
        <a href="https://github.com/IDP-PCLP/idp-python-lab" target="_blank">
            <img src="static/img/computers5.jpg">
            <p>Repositório do grupo</p>
        </a>
      </div>
      
      <div class="grid3-item">
        <img src="static/img/computers1.jpg">
        <p>Vídeos e Canais</p>
      </div>
      <div class="grid3-item">
        <img src="static/img/computers3.jpg">
        <p>Exemplos</p>
      </div>
    </section>
    <h1> Recursos </h1>
    
    <section class="flex">
      <div>
        <img src="static/img/computers3.jpg">
        <p>Bibliografia</p>
      </div>

    </section>


{% endblock conteudo %}