{% extends "layout.html" %}

{% block conteudo %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
    <h1> Login </h1>
    <section class="grid3">
        <p> Faça login aqui.
        <form action="/login" method="POST">
          <input type="username" name="username" placeholder="Nome de usuário">
          <input type="password" name="password" placeholder="Password">
          <input type="submit" value="Log in">
        </form>

    </section>

{% endif %}
{% endblock conteudo %}